/* Webfont: CavafyScript-Regular */@font-face {
    font-family: 'CavafyScript';
    src: url('CavafyScript.woff2') format('woff2'), /* Modern Browsers */
         url('CavafyScript.ttf') format('truetype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

